In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import seaborn as sns
import numpy as np
import os
import re

In [2]:
# Especifica el directorio donde están los archivos CSV
carpeta ="../data/raw/"
# Obtén la lista de todos los archivos en la carpeta
archivos = os.listdir(carpeta)
archivos

['RefBldgFullServiceRestaurantNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgFullServiceRestaurantNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgFullServiceRestaurantNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgFullServiceRestaurantNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgFullServiceRestaurantNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgHospitalNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgHospitalNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgHospitalNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgHospitalNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgHospitalNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgLargeHotelNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgLargeHotelNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgLargeHotelNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgLargeHotelNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgLargeHotelNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgLargeOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgLargeOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgLargeOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgLargeOfficeNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgLargeOfficeNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgMediumOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgMediumOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgMediumOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgMediumOfficeNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgMediumOfficeNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgMidriseApartmentNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgMidriseApartmentNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgMidriseApartmentNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgMidriseApartmentNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgMidriseApartmentNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgOutPatientNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgOutPatientNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgOutPatientNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgOutPatientNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgOutPatientNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgPrimarySchoolNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgPrimarySchoolNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgPrimarySchoolNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgPrimarySchoolNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgPrimarySchoolNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgQuickServiceRestaurantNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgQuickServiceRestaurantNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgQuickServiceRestaurantNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgQuickServiceRestaurantNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgQuickServiceRestaurantNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgSecondarySchoolNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgSecondarySchoolNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgSecondarySchoolNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgSecondarySchoolNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgSecondarySchoolNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgSmallHotelNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgSmallHotelNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgSmallHotelNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgSmallHotelNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgSmallHotelNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgSmallOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgSmallOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgSmallOfficeNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgSmallOfficeNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgSmallOfficeNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgStand-aloneRetailNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgStand-aloneRetailNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgStand-aloneRetailNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgStand-aloneRetailNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgStand-aloneRetailNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgStripMallNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgStripMallNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgStripMallNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgStripMallNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgStripMallNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgSuperMarketNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgSuperMarketNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgSuperMarketNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgSuperMarketNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgSuperMarketNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv',
 'RefBldgWarehouseNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv',
 'RefBldgWarehouseNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Cahokia.csv',
 'RefBldgWarehouseNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Carbondale-Southern.csv',
 'RefBldgWarehouseNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Aurora.Muni.csv',
 'RefBldgWarehouseNew2004_v1.3_7.1_5A_USA_IL_CHICAGO-OHARE_Bloomington.csv']

In [ ]:
prueba=pd.read_csv("../data/raw/RefBldgFullServiceRestaurantNew2004_v1.3_7.1_4A_USA_MD_BALTIMORE_Belleville-Scott.csv")
prueba.head()

,Date/Time,Electricity:Facility [kW](Hourly),Fans:Electricity [kW](Hourly),Cooling:Electricity [kW](Hourly),Heating:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly)
0,01/01 01:00:00,22.453919,3.998243,0.000733,0.0,4.589925,8.1892,141.366183,131.097222,3.33988,6.929081
1,01/01 02:00:00,14.637149,0.000000,0.000000,0.0,1.529975,7.4902,3.931971,0.000000,3.33988,0.592091
2,01/01 03:00:00,14.651183,0.000000,0.000000,0.0,1.529975,7.4902,3.359880,0.000000,3.33988,0.020000
3,01/01 04:00:00,14.657947,0.000000,0.000000,0.0,1.529975,7.4902,3.359880,0.000000,3.33988,0.020000
4,01/01 05:00:00,14.806050,0.000000,0.000000,0.0,1.529975,7.4902,3.931942,0.000000,3.33988,0.592062

In [4]:
# Define the columns to keep
columns_to_keep = [
    'Date/Time',
    'Electricity:Facility [kW](Hourly)',
    'Fans:Electricity [kW](Hourly)',
    'Cooling:Electricity [kW](Hourly)',
    'Heating:Electricity [kW](Hourly)',
    'InteriorLights:Electricity [kW](Hourly)',
    'InteriorEquipment:Electricity [kW](Hourly)'
]
# Load and concatenate data from all files
dfs = []
for file in archivos:
    df = pd.read_csv(f"../data/raw/{file}", usecols=columns_to_keep)
    df["Date/Time"] = '2004 ' + df["Date/Time"]
    date_format = '%Y %m/%d %H:%M:%S'
    df["Date/Time"] = pd.to_datetime(df["Date/Time"], format=date_format, errors='coerce')
    match = re.match(r'^[^_]+', file)
    name = match.group(0)
    df["type_building"] = name
    dfs.append(df)
# # Combine all dataframes into one
combined_df = pd.concat(dfs, axis=0, ignore_index=True)
# # Set Date/Time as index
# combined_df.set_index('Date/Time', inplace=True)

In [5]:
dfs[0].head()

,Date/Time,Electricity:Facility [kW](Hourly),Fans:Electricity [kW](Hourly),Cooling:Electricity [kW](Hourly),Heating:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),type_building
0,2004-01-01 01:00:00,22.453919,3.998243,0.000733,0.0,4.589925,8.1892,RefBldgFullServiceRestaurantNew2004
1,2004-01-01 02:00:00,14.637149,0.000000,0.000000,0.0,1.529975,7.4902,RefBldgFullServiceRestaurantNew2004
2,2004-01-01 03:00:00,14.651183,0.000000,0.000000,0.0,1.529975,7.4902,RefBldgFullServiceRestaurantNew2004
3,2004-01-01 04:00:00,14.657947,0.000000,0.000000,0.0,1.529975,7.4902,RefBldgFullServiceRestaurantNew2004
4,2004-01-01 05:00:00,14.806050,0.000000,0.000000,0.0,1.529975,7.4902,RefBldgFullServiceRestaurantNew2004

In [6]:
dfs[0].tail()

,Date/Time,Electricity:Facility [kW](Hourly),Fans:Electricity [kW](Hourly),Cooling:Electricity [kW](Hourly),Heating:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),type_building
8755,2004-12-31 20:00:00,38.653890,3.998243,0.0,0.0,9.179851,19.4245,RefBldgFullServiceRestaurantNew2004
8756,2004-12-31 21:00:00,38.637599,3.998243,0.0,0.0,9.179851,19.4245,RefBldgFullServiceRestaurantNew2004
8757,2004-12-31 22:00:00,38.577471,3.998243,0.0,0.0,9.179851,19.4245,RefBldgFullServiceRestaurantNew2004
8758,2004-12-31 23:00:00,38.458116,3.998243,0.0,0.0,9.179851,19.4245,RefBldgFullServiceRestaurantNew2004
8759,NaT,39.254839,3.998243,0.0,0.0,9.179851,19.4245,RefBldgFullServiceRestaurantNew2004

In [7]:
# dfs-> lista de dataframes de consumo de energia por hora

In [8]:
#se extraen los datos clusterizados
data_clustered=pd.read_csv("../data/interim/clustering_all_characteristics.csv")

In [9]:
data_clustered

,type_building,Cooling:Electricity_mean,Cooling:Electricit_std,InteriorEquipment:Electricity_mean,InteriorEquipment:Electricity_std,cluster_GMM
0,RefBldgFullServiceRestaurantNew2004,0.000000,6.226848,19.4245,7.265027,0
1,RefBldgFullServiceRestaurantNew2004,0.001580,6.596764,19.4245,7.265027,0
2,RefBldgFullServiceRestaurantNew2004,0.002568,7.146033,19.4245,7.265027,0
3,RefBldgFullServiceRestaurantNew2004,0.000000,4.688730,19.4245,7.265027,0
4,RefBldgFullServiceRestaurantNew2004,0.000000,4.797245,19.4245,7.265027,0
...,...,...,...,...,...,...
75,RefBldgWarehouseNew2004,0.000000,3.543234,1.0116,3.418924,0
76,RefBldgWarehouseNew2004,0.000000,3.778460,1.0116,3.418924,0
77,RefBldgWarehouseNew2004,0.000000,3.968506,1.0116,3.418924,0
78,RefBldgWarehouseNew2004,0.000000,2.526466,1.0116,3.418924,0
79,RefBldgWarehouseNew2004,0.000000,2.379629,1.0116,3.418924,0

In [10]:
# data_clustered.loc[:,['Electricity:Facility_mean', 'Electricity:Facility_std',
#        'Fans:Electricity_mean', 'Fans:Electricity_std',
#        'InteriorLights:Electricity_mean', 'InteriorLights:Electricity_std',
#        'type_building',
#        'Cluster_Hierarchical']]

In [11]:
#data_clustered-> dataframe de cada dataframe con sus caracteristicas y asignado el cluster al que pertenecen

In [12]:
#se cargan los datos mas cercanos a los clusters
closest_points_data=pd.read_csv("../data/interim/closest_points.csv")

In [13]:
closest_points_data=closest_points_data.rename(columns={"Unnamed: 0":"indice_closest"})
closest_points_data

,indice_closest,PC1,PC2,PC3,Cluster_KMeans,Cluster_DBSCAN,Cluster_Hierarchical
0,67,-1.122322,-0.026253,0.075707,0,10,0
1,15,4.515147,1.414719,-1.786065,1,-1,1
2,5,5.561883,-2.633525,0.505042,2,-1,2
3,45,2.758477,2.785423,1.366780,1,-1,3

In [14]:
#closest_points_data-> dataframe con las series de tiempo que estan mas cercanas a cada centroide de cada cluster (en este caso a los clusters de clustering jerarquico)

## OBTENER LAS SERIES MAS CERCANAS PARA CADA CLUSTER

In [24]:
#OBTENER LAS SERIES MAS CERCANAS PARA CADA CLUSTER
indices_clusters=closest_points_data.indice_closest.unique().tolist()
closest_series=[]
for indice in indices_clusters:
    closest_series.append(dfs[indice])

In [25]:
closest_series[0].head()

,Date/Time,Electricity:Facility [kW](Hourly),Fans:Electricity [kW](Hourly),Cooling:Electricity [kW](Hourly),Heating:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),type_building
0,2004-01-02 01:00:00,15.106999,0.000000,0.0,0.0,1.824325,1.797674,RefBldgStripMallNew2004
1,2004-01-02 02:00:00,15.106999,0.000000,0.0,0.0,1.824325,1.797674,RefBldgStripMallNew2004
2,2004-01-02 03:00:00,15.106999,0.000000,0.0,0.0,1.824325,1.797674,RefBldgStripMallNew2004
3,2004-01-02 04:00:00,15.143718,0.036718,0.0,0.0,1.824325,1.797674,RefBldgStripMallNew2004
4,2004-01-02 05:00:00,15.146805,0.039805,0.0,0.0,1.824325,1.797674,RefBldgStripMallNew2004

In [26]:
closest_series[0].to_csv("../data/interim/closest_series_cluster_0.csv",index=False)
closest_series[1].to_csv("../data/interim/closest_series_cluster_1.csv",index=False)
closest_series[2].to_csv("../data/interim/closest_series_cluster_2.csv",index=False)
closest_series[3].to_csv("../data/interim/closest_series_cluster_3.csv",index=False)

## OBTENER LAS SERIES PROMEDIO PARA CADA CLUSTER ]

In [15]:
# Agrupar dataframes por cluster
clusters = data_clustered['cluster_GMM'].unique()
clustered_dfs = {cluster: [] for cluster in clusters}

for i, df in enumerate(dfs):
    cluster = data_clustered.loc[i, 'cluster_GMM']
    clustered_dfs[cluster].append(df)

In [16]:
clusters

array([0, 2, 4, 1, 3], dtype=int64)

In [17]:
def calcular_series_promedio(dataframe):
    # Asegurarte de que la columna 'Date/Time' esté en formato datetime
    dataframe['Date/Time'] = pd.to_datetime(dataframe['Date/Time'])
    
    # Establecer la columna 'Date/Time' como índice
    dataframe.set_index('Date/Time', inplace=True)
    
    # Resamplear por hora y calcular el promedio
    dataframe_combinado = dataframe.iloc[:,:-1].resample('h').mean()
    return dataframe_combinado

In [18]:
combined_df_cluster_0 = pd.concat(clustered_dfs[0], axis=0, ignore_index=True)
combined_df_cluster_0=calcular_series_promedio(combined_df_cluster_0)
combined_df_cluster_1 = pd.concat(clustered_dfs[1], axis=0, ignore_index=True)
combined_df_cluster_1=calcular_series_promedio(combined_df_cluster_1)
combined_df_cluster_2 = pd.concat(clustered_dfs[2], axis=0, ignore_index=True)
combined_df_cluster_2=calcular_series_promedio(combined_df_cluster_2)
combined_df_cluster_3 = pd.concat(clustered_dfs[3], axis=0, ignore_index=True)
combined_df_cluster_3=calcular_series_promedio(combined_df_cluster_3)
combined_df_cluster_4 = pd.concat(clustered_dfs[4], axis=0, ignore_index=True)
combined_df_cluster_4=calcular_series_promedio(combined_df_cluster_4)

In [19]:
combined_df_cluster_4.head()

,Electricity:Facility [kW](Hourly),Fans:Electricity [kW](Hourly),Cooling:Electricity [kW](Hourly),Heating:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly)
Date/Time,,,,,,
2004-01-01 01:00:00,125.508406,25.218788,18.107186,10.798278,18.246188,24.545538
2004-01-01 02:00:00,130.947732,27.493182,18.381736,10.958464,18.246188,24.545538
2004-01-01 03:00:00,117.350246,25.307229,17.317099,11.714363,10.763747,23.299779
2004-01-01 04:00:00,123.235732,27.625845,18.133811,12.142547,10.763747,23.299779
2004-01-01 05:00:00,122.103171,25.351450,17.882308,12.557264,10.763747,23.299779

In [20]:
combined_df_cluster_0.to_csv("../data/interim/average_series_cluster_0.csv")
combined_df_cluster_1.to_csv("../data/interim/average_series_cluster_1.csv")
combined_df_cluster_2.to_csv("../data/interim/average_series_cluster_2.csv")
combined_df_cluster_3.to_csv("../data/interim/average_series_cluster_3.csv")
combined_df_cluster_4.to_csv("../data/interim/average_series_cluster_4.csv")

## conjunto de validacion de modelos regresores para la media de las series

In [21]:
# Agrupar dataframes por cluster
clusters = data_clustered['cluster_GMM'].unique()
clustered_dfs = {cluster: [] for cluster in clusters}

for i, df in enumerate(dfs):
    cluster = data_clustered.loc[i, 'cluster_GMM']
    clustered_dfs[cluster].append(df)

In [22]:
len(clustered_dfs[3])

5

In [23]:
combined_cluster_0 = pd.concat(clustered_dfs[0], axis=0, ignore_index=True)
combined_cluster_1 = pd.concat(clustered_dfs[1], axis=0, ignore_index=True)
combined_cluster_2 = pd.concat(clustered_dfs[2], axis=0, ignore_index=True)
combined_cluster_3 = pd.concat(clustered_dfs[3], axis=0, ignore_index=True)
combined_cluster_4 = pd.concat(clustered_dfs[4], axis=0, ignore_index=True)

In [24]:
combined_cluster_0.to_csv("../data/interim/series_cluster_0.csv",index=None)
combined_cluster_1.to_csv("../data/interim/series_cluster_1.csv",index=None)
combined_cluster_2.to_csv("../data/interim/series_cluster_2.csv",index=None)
combined_cluster_3.to_csv("../data/interim/series_cluster_3.csv",index=None)
combined_cluster_4.to_csv("../data/interim/series_cluster_4.csv",index=None)

## conjunto de validacion de modelos regresores para la serie mas cercana de las series

In [35]:
indices_clusters = closest_points_data.indice_closest.unique().tolist()

# Filtrar la lista de DataFrames eliminando aquellos en los índices de indices_clusters
dfs_actualizados = [df for i, df in enumerate(dfs) if i not in indices_clusters]

In [36]:
# Agrupar dataframes por cluster
clusters = data_clustered['Cluster_Hierarchical'].unique()
clustered_dfs = {cluster: [] for cluster in clusters}

for i, df in enumerate(dfs_actualizados):
    cluster = data_clustered.loc[i, 'Cluster_Hierarchical']
    clustered_dfs[cluster].append(df)

In [37]:
whitout_closest_cluster_0= pd.concat(clustered_dfs[0], axis=0, ignore_index=True)
whitout_closest_cluster_1 = pd.concat(clustered_dfs[1], axis=0, ignore_index=True)
whitout_closest_cluster_2 = pd.concat(clustered_dfs[2], axis=0, ignore_index=True)
whitout_closest_cluster_3 = pd.concat(clustered_dfs[3], axis=0, ignore_index=True)

In [38]:
whitout_closest_cluster_0.to_csv("../data/interim/without_closest_cluster_0.csv",index=None)
whitout_closest_cluster_1.to_csv("../data/interim/without_closest_cluster_1.csv",index=None)
whitout_closest_cluster_2.to_csv("../data/interim/without_closest_cluster_2.csv",index=None)
whitout_closest_cluster_3.to_csv("../data/interim/without_closest_cluster_3.csv",index=None)